project_id = "tojjnxyrvqjjhrkgddua"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.fetch-earthquakes]
verify_jwt = false

[functions.send-sms-alert]
verify_jwt = false

[functions.get-mapbox-token]
verify_jwt = false

[functions.seed-earthquakes]
verify_jwt = false
